# Data Analysis Project
### 'Average Time Spent By A User On Social Media'
#### By: Lexin Deang
Kaggle Link : https://www.kaggle.com/datasets/imyjoshua/average-time-spent-by-a-user-on-social-media

In [7]:
# Importing Libraries
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

# Reading CSV File
data = pd.read_csv('dummy_data.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           1000 non-null   int64
 1   gender        1000 non-null   object
 2   time_spent    1000 non-null   int64
 3   platform      1000 non-null   object
 4   interests     1000 non-null   object
 5   location      1000 non-null   object
 6   demographics  1000 non-null   object
 7   profession    1000 non-null   object
 8   income        1000 non-null   int64
 9   indebt        1000 non-null   bool
 10  isHomeOwner   1000 non-null   bool
 11  Owns_Car      1000 non-null   bool
dtypes: bool(3), int64(3), object(6)
memory usage: 73.4+ KB

In [6]:
data.shape

(1000, 12)

# Project Overview: 

### Quantitative Variables:
* age (int): User's age
* time_spent (int): time a user spends on social media
* income (int): Annual Income of user

### Qualitative Variables
* gender (object): User's Gender Identity
* platform (object): Social media platform that user spends time
* interests (object): User's Primary area of interest or hobby
* location (object): Country of residence of user
* demographics (object): User's residence area type
* profession (object): User's occupation
* indebt (bool): User's debt status
* isHomeOwner (bool): User's homeowner status
* Owns_car (bool): User's car owner status
    
** Change Owns_car into isCarOwner just for satisfaction**

In [8]:
data.head()

,age,gender,time_spent,platform,interests,location,demographics,profession,income,indebt,isHomeOwner,Owns_Car
0,56,male,3,Instagram,Sports,United Kingdom,Urban,Software Engineer,19774,True,False,False
1,46,female,2,Facebook,Travel,United Kingdom,Urban,Student,10564,True,True,True
2,32,male,8,Instagram,Sports,Australia,Sub_Urban,Marketer Manager,13258,False,False,False
3,60,non-binary,5,Instagram,Travel,United Kingdom,Urban,Student,12500,False,True,False
4,25,male,1,Instagram,Lifestlye,Australia,Urban,Software Engineer,14566,False,True,True